.input {
  border-radius: 5px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05);
  background: rgb(255, 255, 255);
  border: none;
  padding: 10px 15px;
  outline: var(--purple-color);
}

.input::placeholder {
  color: var(--light-black-color);
}
