.tag {
  display: inline-block;
  border-radius: 20px;
  padding: 5px 10px;
}

.tag a {
  text-decoration: none;
  color: var(--background-white-color);
}

.gray {
  background-color: var(--gray-color);
  color: var(--background-white-color);
}

.green {
  background-color: var(--light-green-color);
  color: var(--green-color);
}

.transparent {
  background-color: transparent;
  color: var(--black-color);
  border: 1px solid var(--border-color);
}

.red {
  background-color: var(--red-color);
  color: var(--background-white-color);
}

.primary {
  background-color: transparent;
  border: 1px solid var(--purple-color);
  color: var(--purple-color);
}

.s {
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
}

.m {
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
}
